 

  @font-face{
  font-family:samsung-bold;   /*  these is san-serif font*/
  src:url(samsung-sharp-sans-regular-cufonfonts/samsung_s_sharp_by_629lyric-d8y77l9.ttf);
  }
  @font-face{
  font-family:samsung-light;   /*  these is san-serif font*/
  src:url(samsung-sharp-sans-regular-cufonfonts/SamsungSharpSansRegular-Regular.ttf);
  }
  
  
  
  