 :root{
    --blue:rgb(94, 108, 230);
    --blue-light:rgba(94, 108, 230,0.8)
}
  .put_back{
    background-image: url("../back-pics/Group\ -1.png"),url("../back-pics/Group\ 9.png");
    background-size: cover;
  }
*{
    margin:0;padding: 0;
}
.video_header>div>p>h1{
   text-transform: capitalize;font-family: samsung-bold;
}
.video_header>div>p>h1>span{
    color: var(--blue);
}
.video_header{
   padding: 2em 0;
}
.page_section>span{
    margin-top:1em;
display: block !important;
font-size: 16px;font-weight: 600;text-transform: capitalize;
margin-left: 0;font-family: samsung-bold;
}
.page_section>em{
    display: inline-block !important;
}
.page_section{
    font-family: Helvetica;font-size: 15px;position: relative;
}
.page_section::before{
   content: '';height: 100%;width:3px;z-index: 2;
   top:0;left: 0;background-color: var(--blue);position: absolute;
}

.input_box{
    display: inline-block;width:280px;background: white;
    border-radius: 50px;border: 2px solid var(--blue-light);
    overflow: hidden;padding: 0.2em 0.7em;padding-right:0.2em;
}
.input_box>input{
    font-family: helvetica;font-weight: 500;border: none;
    outline: none;width:calc(100% - 80px)
}
.input_box>button{
     border: none;outline: none;font-size: 15px;font-family: helvetica;
     font-weight: 600;background-color: var(--blue-light);
     padding: 0.4em 0.9em;border-radius: inherit;width:80px
}
.rate_section>i{
    color: var(--blue);font-size: 20px;margin: 0 0.1em;
}
.rate_section>span{
    font-weight: 600;
}
.video_img{
    width: 100%;object-fit: cover;
}
.relative{
    position: relative;
}
.video_img_contain{
    padding-top:0.5em;padding-bottom: 0.5em; overflow: hidden;
}
.start_icon{
    position: absolute;font-size: 3em;width:30px;height: 30px;
    background-color: white;display: inline-flex !important;z-index: 1;
    justify-content: center;align-items: center;top:calc(50% - 15px);
    left:calc(50% - 15px);color: var(--blue);font-size: 0.9em !important;line-height: 0;
    font-weight: 100;border-radius: 50%;line-height: 0;border: 2px solid rgba(255,255,255,0.8);
    padding-left: 3px;
}
.start_icon::after{
   content: "";position: absolute;width: 250%;height: 250%;top:-75%;
   left:-75%;border-radius: inherit;background: rgba(255,255,255,0.4);
   z-index: -1;
}
.start_icon_reduce{
    position: absolute;font-size: 2em;width:20px;height: 20px;
    background-color: white;display: inline-flex !important;
    justify-content: center;align-items: center;top:calc(50% - 10px);
    left:calc(50% - 10px);color: var(--blue);font-size: 0.7em !important;
    font-weight: 100;border-radius: 50%;line-height: 0;padding-left: 2px;
    padding-top: 2px;z-index: 1;
  }
.start_icon_reduce::after{
    content: "";position: absolute;width: 200%;height: 200%;top:-50%;
    left:-50%;border-radius: inherit;background: rgba(255,255,255,0.4);
    z-index: -1;
   }
 
.video_name{
    position: absolute;bottom: -50%;left: 5px;color: rgba(255,255,255,0.8);
    font-family: helvetica;font-weight: 600;padding: 0em 1em;transition: 0.3s;
}
.video_img_contain:hover>.video_name{
bottom: 8px;background: linear-gradient(360deg,rgba(0,0,0,1),rgba(0,0,0,0));
left:15px;width:calc(100% - 30px);display: inline-block;padding: 1em 0.5em;
}
.video_container{
    height: 100vh;overflow: scroll;
    -ms-overflow-style: none;scrollbar-width: none;
}
.video_container::-webkit-scrollbar{
    display: none;
}
@media all and (min-width:756px){
.video_container>div{
  
}
}
.related_context{
    height: calc(100vh - 1em);overflow: scroll;padding: 0em 0;margin-top: 1em;
    -ms-overflow-style: none;scrollbar-width: none;
}
.alter_context{
    height: auto;
}
.related_context::-webkit-scrollbar{
    display: none;
}
.related_context>div{
    margin: 0.8em 0;
}
.related_text{
    font-size: 15px;font-weight: 700;font-family: helvetica;
}
.related_header{z-index: 5;
    font-family: samsung-bold;background-color: var(--blue);color:rgba(255,255,255,0.6);
    padding: 0.5em;position: -webkit-sticky;position: sticky;top:-1px;
    border-radius: 5px 50px 5px 20px;
}
.video{
    height: auto;width: 100%;
    background: black;;
}
.video:focus{
    outline: none;
}
@media all and (min-width:756px){
.video{
  height:65vh;border-radius: 20px
}
}
.side_video_img{
    width:150px !important;height:120px;   display: inline-flex;
    justify-content: center;align-items: center; 
}
.side_video_img>img{
    width:120px !important;height:120px;object-fit: cover;
}
.side_video_text{
    width:calc(100% - 160px) !important;height:130px;object-fit: cover;
}
.page_contain{
    padding: 1.5em 0;
}
.page_contain>a>span{
display:inline-flex;width:35px;height: 35px;border: 2px solid var(--blue-light);
justify-content: center;align-items: center;color: var(--blue-light);
border-radius: 5px;margin:0 0.5em;
}
.page_contain>i{
    display:inline-flex;width:35px;height: 35px;border: 2px solid var(--blue-light);
    justify-content: center;align-items: center;color: var(--blue-light);
    border-radius: 5px;margin: 0.5em;font-family: helvetica;font-size: 15px;
    font-weight: 500;
    }
   
    .page_contain>i:nth-last-of-type(1){
        display:inline-flex;width:35px;height: 35px;border: none;
        justify-content: center;align-items: center;color: var(--blue-light);
        border-radius: 5px;margin:0 0.5em;font-weight: 900;
        }
        .page_dark{
            background: var(--blue) !important;
            color:rgba(255,255,255,0.8) !important;
             }
     .flex{
         display: flex;flex-wrap: wrap;justify-content: center;
     }
     .error_page{
        align-items: center;
        background-image: url("../back-pics/Group\ -1.png"),url("../back-pics/Group\ 9.png");
        background-size: cover;height:100vh;
    }
    .error_page>div>h1{
        font-size: 20vw;
    }
    .error_page>div>div{
        font-size: 5vw;font-family: samsung-bold;color:rgba(0,0,0,0.6)
    }
    .error_page>div>h1>span{
        color:var(--blue)
    }
    .clicker-button{
        display:block;padding: 0.35em 1em;font-family: helvetica;
        font-size:17px;font-weight:700;background: rgb(94, 108, 230);
        border: none;border-radius: 5px;color:rgba(209, 213, 245, 0.918)
    }
    .click-button-o{
        display:block;padding: 0.35em 1em;font-family: helvetica;
        font-size:17px;font-weight:700;background: transparent;
        border: none;border-radius: 5px;color:var(--blue);border: 2px solid var(--blue-light);
    }
  .pop-img{
      position: fixed;top:0;left:0;width:100vw;height: 100vh;z-index: 100;
      background: white;overflow: scroll;transition: 0.3s;padding: 1em;
  }
  .flowup{
      top:-150% !important
  }
  .pop-img>div{
      padding: 1em 0;
  }
.show-img{
    width: 100%;border-radius: 30px;max-height: auto;object-fit: cover;
}
 .upSlide{
     /* overflow: hidden !important; */
 }
 
.cancle-pop{
    position: absolute;right: 20px;top:10px;
    display: inline-block;
}
.cancle-pop>span{
    display: inline-block;font-weight: 900;
  font-size: 1.3em;z-index: 12;padding: 0.5em;background: rgba(0,0,0,0.3);
  line-height: 0.85;border-radius: 50px;color: white;
}
.message-area{
    height: 70vh;
    border-radius: 40px 40px 0px 40px;padding: 0.5em;
    border: 2px solid var(--blue-light);
    background:url("../back-pics/Group\ -1.png"),url("../back-pics/Group\ 9.png") right;
  background-size: cover;
}
.typing-box>button{
    width:60px;border-radius: 20px 00px 20px 20px;height: 50px;border: none;
    background: var(--blue-light);color: rgba(255,255,255,0.8);
    font-size: 25px;
}
.typing-box>button:focus{
    outline: none;
}
.typing-box>textarea{
     width: calc(100% - 60px);border: none;font-size: helvetica;
     font-weight: 600;font-size: 15px;border-radius: 20px;padding: 0em 1em;
}
.typing-box>textarea:focus{
    outline: none;
}
.typing-box{
    padding: 0.2em;border: 2px solid var(--blue);
    border-radius:20px 0 20px 20px;margin-top: 0.7em;
}
.sent{
    width: 100%;text-align: left;
}
.recieve{
    width: 100%;text-align: right;
}
.hidepics{
    display: none !important;
}
.sent>span{
    display: inline-block;padding: 0.7em;font-weight: 600;
    font-size: 14px;font-family: helvetica;
    border: 2px solid var(--blue-light);max-width: 50%;
    border-radius: 20px 20px 20px 0;margin-top: 0.5em;
    background: rgba(255,255,255,0.4);
}
.recieve>span{
    display: inline-block;padding: 0.5em 0.7em;font-weight: 600;
    font-size: 15px;font-family: helvetica;max-width: 50%;
    border: 0px solid var(--blue-light);background: var(--blue);
    border-radius: 20px 20px 0px 30px;color: rgba(255,255,255,0.95);
    margin-top: 0.3em;
}
.email_form{
    position: absolute !important;bottom: 20vh;right:0%;
    width:300px;background: white;z-index: 20;padding: 1em;
   box-shadow: 2px 5px 10px rgba(0,0,0,0.3);border-radius: 7px;
}
.email_form::before{
    content:"";position: absolute;width:0%;height: 0%;
    top:2.5%;left:2.5%;border: 0px solid var(--blue-light);
    border-radius: inherit;
    transition: 0.3s;
}
.email_form:hover::before{
    width:95%;height: 95%;box-shadow:  0px 5px 10px rgba(100,100,100,0.3),
                                       0px -2px 5px rgba(100,100,100,0.2)
}
.email_form>div>input{
    width: 90%;margin: 0.5em 1em;padding: 0.3em 0.6em;
    border: 2px solid var(--blue-light);font-size: 14px;
    font-weight: 400;
}
.email_form>div>input:focus,.email_form>div>button:focus{
    outline: none;
}
.email_form>div>button{
    width: 40%;margin-left: 1em;color: rgba(255,255,255,0.8);
    background-color: var(--blue);
    border: none;font-size: 15px;font-weight: helvetica;
    font-weight: 600;padding: 0.3em 0;
}
.email_form>p{
    margin-left: 1em;font-size: 13px;font-weight: 400;
    margin-bottom: 0.2em;
}
.form_cancle{
    position: absolute;top:5px;right:5px;
    background: var(--blue-light);width: 20px;height: 20px;
    border-radius: 50px;display: inline-flex;font-weight: 900;
    justify-content: center;align-items:center;font-size:10px
}
a:hover{
    color:inherit !important
}
.social{
    display: flex;align-items: center;
    font-weight: 500;
}
.social>i{
   display: inline-flex;width:35px;height: 35px;
   background: var(--blue-light);margin: 0.3em;
   justify-content: center;align-items: center;
   border-radius: 50%;color: rgba(255,255,255,0.8);
   font-size: 17px;
}
.About_note{
    padding-top: 1em;
}
.About_note>h4{
       font-family: samsung-bold;
       color: var(--blue-light);
}
.footer_p{
    font-family: helvetica;font-weight: 600;
}
a:hover{
    text-decoration: none;
} 
.footer{
    background:linear-gradient(rgba(94, 108, 230,0.1),rgba(94, 108, 230,0.1)),url("../back-pics/Group\ -1.png")center;
  background-size: cover;
}
.text-right-footer{
    width: 100%;padding: 1em;
    text-align: right;font-size: 15px;
    font-weight: 600;
}
.download_icon{
    position: absolute;top:20px;right:20px;color: rgba(255,255,255,0.6);
    width:35px;height: 35px;background: rgba(255,255,255,0.4);
    display: inline-flex !important;justify-content: center;align-items: center;
    border-radius: 50%;
}
.roller_svg{
    position: fixed;top:0;
    left:0;width:100vw;height:100vh;
    background: white;z-index: 1000;
    display: flex;justify-content: center;
    align-items: center;
}
.roller_svg>svg{
    width:100px;height: 100px;transform: rotateZ(0);
    animation: 2s infinite linear roller_box;
}
.roller_svg>svg>circle:nth-last-of-type(2){
    r:43;cx:50;cy:50;
    stroke:var(--blue);fill: transparent;
    stroke-width: 7px;stroke-dasharray: calc(50 * 6);
    stroke-dashoffset: 300;animation: 2s infinite linear roller;
    stroke-linecap: round;
}
.roller_svg>svg>circle:nth-last-of-type(1){
    r:43;cx:50;cy:50;
    stroke:rgba(100,100,100,0.1);fill: transparent;
    stroke-width: 7px;stroke-dasharray:0;
   
}
@keyframes roller{
    0%{
        stroke-dashoffset: 290 
    }
    70%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 290
    }
}
@keyframes roller_box{
    0%{
        transform: rotateZ(0);
    }
    100%{
        transform: rotateZ(720deg);
    }
    
}
  .side_topic{
      padding: 0.5em;overflow-y: scroll;
      width:300px;vertical-align:top !important;
  }
 
  .side_topic::-webkit-scrollbar{
   width: 7px;opacity: 0.5;
}
  .side_topic::-webkit-scrollbar-thumb{
       background: rgba(94, 108, 230,0.4);border-radius: 10px;
       height: 1em;width: 0;
  }
  .side_topic::-webkit-scrollbar-thumb:hover{
    background: var(--blue-light);
}
  .side_topic>div{
     font-size: 13px;font-family: helvetica;
     font-weight:300;border-radius: 7px;width: auto;
     padding: 0.6em 0.5em;margin: 0.2em;display: inline-block;
     background: white;box-shadow: 1px 2.5px 4px rgba(0,0,0,0.2);
  }
  .design_body{
       width:calc(100% - 500px);position: relative;overflow: hidden;
  }
  .item_side_contain{
      width: 200px;
  }
  .item_side{
    height: 30%;vertical-align: top;overflow: scroll;
  }
  
  .prop_set_div{
      width: 100%;height: 100%;padding-bottom: 3em;
  }
  .background_side{
      height: 70%;overflow: scroll;
  }
  
  .body_section{
    height: 100vh;
  }
  .check_pop{
      position: absolute;top:20%;left:20%;font-weight: 600;color: rgb(194, 47, 21);
      font-size: 10px;background: white;width: 200%;padding:0.25em 0.15em;
      border-radius: 3px;box-shadow: 1px 2px 4px rgba(0,0,0,0.2);z-index: 2;
      transition: 0.4s;
  }
  .check_pop>span{
    display: block;text-align: right;
}
.check_pop>span>i{
    display:inline-block;padding: 0.1em 0.6em;margin: 0.4em 0.4em;
    border: 1px dashed rgba(0,0,0,0.4);color: rgba(0,0,0,0.6);
}
.check_pop>span>i:nth-of-type(2){
    background: rgba(0,0,0,0.6);color: rgba(255,255,255,0.8);border: none;
    padding: 0.15em 0.6em;
}
  .body_section>div{
      height: 100%;
      margin: 1em 0;
  }
  .semi_container{
      height: 70%; background:none;overflow: hidden !important;
  }
   .main_design_box{
       overflow: hidden !important;background-size:cover;
       width: 90%;max-width: 700px;height: 100%;
      background-image: url("../back-pics/third-phone.jpeg");
      background-position: bottom;
   }
   .draggable{
       background: transparent;border: 2px solid transparent;
       color: rgba(255,255,255,0.9);padding: 0.5em;font-size: 15px;
       -ms-overflow-style: none;scrollbar-width: none;height: auto;
       position: absolute;padding: 0; outline: 1px solid transparent;
       border-radius: 0;
   }
   
   .draggable::-webkit-scrollbar{
       display: none;
   }
   .dragbable:focus{
       outline: 1px solid var(--blue-light);
   }
   .append_button{
       width:40px;height: 40px;border:2px solid rgba(0,0,0,0.6);color: rgba(0,0,0,0.8);margin: 0.3em;
       border-radius: 50%;display: inline-flex !important;justify-content: center;align-items: center;
     font-size: 30px;padding-bottom: 5px;vertical-align: top;
   }
   .track_box{
       margin: 0.1em;width: 60px;height: 60px;font-size: 22px;
       background: white;font-weight: 900;font-family: helvetica;
       display: inline-flex;justify-content: center;align-items: center;
       box-shadow: 1px 2px 4px rgba(0,0,0,0.2);border-radius: 3px;
       border:2px dotted transparent
   }
   .setting_box{
       width:auto;display: inline-block;vertical-align: middle;
       padding: 0.2em 0.5em;margin: 0.3em;border-radius: 5px;
   }
   .setting_box>i{
    display:block;font-size: 11px;padding: 0.1em;padding-bottom: 0.2em;
    font-family: helvetica;font-weight: 300;
}
  input[type='color']{
    -webkit-appearance: none;display: block;border:none;
    height: 20px;padding: 0;outline: 0;box-shadow: 0;
}
.input[type='color']::-webkit-color-swatch-wrapper{
    padding: 0;
}
.input[type='color']::-webkit-color-swatch{
    border: none;
}
.setting_box>input:focus{
    outline: none;
}
input[type=range]{
    background: transparent;
    transition:0.1;
    transition: 1s;
    position:relative;
    z-index:1;width: 80px !important;
    }
    input[type=range]::after{
       content:"";
       width:100%;
       height:4px;
       background: var(--blue-light);
       position:absolute;
       top:calc(50% - 2px);
       left:0;
       border-radius:5px;
       z-index:-1;
    }

    input[type=range] {
    -webkit-appearance: none ; /* Hides the
    slider so that custom slider can
    be made */
    width: 100% ; /* Specific width is
    required for Firefox. */
    background:transparent ; /* Otherwise
    white in Chrome */
    }
    input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none ;
    }
    input[type=range]:focus {
    outline: none; /* Removes the blue
    border. You should probably do
    some kind of focus styling for
    accessibility reasons though. */
    }
    input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom
    styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
    }
     input[type=range]::-webkit-slider-thumb {
     -webkit-appearance: none ;
     width:20px;
     height: 20px;
     background: var(--blue);
     border-radius:50%;
     z-index:3;
     border:5px solid white;
     }
     input[type=range]::-ms-thumb {
     width:20px;
     height: 20px;
    background: rgb(141,128,75);
     border-radius:50%;
     z-index:3;
      border:5px solid rgb(210,210,210);
     }
     input[type=range]::-moz-range-thumb {
     width:12px;
     height: 12px;
     background: rgb(141,128,75);
     border-radius:50%;
     z-index:3;
      border:5px solid white;
     }
     input[type=number]{
         width: 100%;font-size: 11px;text-align: center;border: 1px solid rgba(0,0,0,0.5);
         width: 70px;vertical-align: top;
     }
     input[type=number]:focus{
        outline: none;
     }
       input:focus{
           outline: none !important;
       }
       .select{
           color: rgba(0,0,0,0.6);
           -webkit-appearance: none;
           width: 70px;
       }
       .select:focus{
        outline: none;
    }
       .setting_box_multi{
           display: inline-block;margin: 0.3em 0.2em;
           border: 1px dashed rgba(0,0,0,0.5);padding: 0.3em 0.3em;
       }
       .setting_box_multi>span>input{
           width: 40px;
       }
       .select *{
           color:rgba(0,0,0,0.6);
       }
      .feedback{
          width:80px;display: inline-block;
          padding: 0.1em 0.2em;font-size: 12px;
      }
      .feedcontent{
          width: 100%;display: inline-block;position: absolute;
          height: 0;overflow: hidden;transition: 0.2s;left:0;top:19px;
          background-color: white;max-height: 70px;overflow: scroll;
          -ms-overflow-style: none;scrollbar-width: none;
      }
      .feedcontent::-webkit-scrollbar{
          display: none;
      }
      .feedcontent>i{
          display: block;font-size: 11px; padding: 0.1em 0.2em;white-space: nowrap;
          overflow: scroll;-ms-overflow-style: none;scrollbar-width: none;
      }
      .feedcontent>i::-webkit-scrollbar{
          display: none;
      }
      .name-display{
        white-space: nowrap;width: 100%;display: inline-block;
        overflow: scroll;-ms-overflow-style: none;scrollbar-width: none;
        vertical-align:baseline;margin-right:0.3em;position: relative;
        top:-2.5px
      }
      .name-display::-webkit-scrollbar{
        display: none;
    }
      .feedcontent>i:hover{
          background-color: var(--blue-light);color: rgba(255,255,255,0.8)
      }
      .feedback:hover  .feedcontent{
          height: auto;
      }
    .resize-drag{
        position: absolute; -ms-overflow-style: none;scrollbar-width: none;
    }
    .resize-drag::-webkit-scrollbar{
        display: none;
    }
    .resize-drag:focus{
        outline: none;
    }
   .props_set{
       overflow-y: scroll;padding-bottom: 3em;height: 30%;
   }    
   .no-overflow{
       -ms-overflow-style: none;scrollbar-width: none;overflow: scroll;
   }
   .no-overflow::-webkit-scrollbar{
       display: none;
   }
   .iconic{
       width:30px;height: 30px;font-size: 13px !important;display: inline-flex !important;
       border-radius: 50%;border: 1px solid rgba(0,0,0,0.6);
       justify-content: center;align-items: center;font-weight: 100;
   }
   .head_name{
      font-size: 13px;font-family: helvetica;font-weight: 300;display: block;
      border-bottom: 1px dashed rgba(0,0,0,0.3);margin-bottom: 0.3em;padding: 0.15em;
   }
   .set_button{
       display: block;width: auto;margin:  0.15em 0.3em;border: none;
       background: var(--blue-light);font-size: 12px;padding: 0.3em 0.7em;
       color: rgba(255,255,255,0.8);border-radius: 50px;
   }
  .side_url_input{
      width:90%;margin-top: 0.5em;margin-bottom: 0.5em;border: 1px solid rgba(0,0,0,0.4);font-size: 12px;
      font-family: courier;padding-left: 0.3em;
  }
  .image_detail_contain{
      padding: 0.2em;border: 1px dashed rgba(0,0,0,0.2);margin: 0.5em 0;
  }
  .image_detail_contain>em{
      font-size: 12px;font-family: helvetica;
  }
.snapshot_contain{
    position: fixed;background: rgba(0,0,0,0.7);transition: 0.35S;
    width: 100vw;height: 100vh;z-index: 100;bottom:-130%;left:0;align-items: center;
}
.bottom_up{
    bottom:0 !important
}
.snapshot_contain>div{
    width: 100%;max-width: 700px;
    height:auto;border: none;outline: none;
}
.container_fill{
    overflow:hidden !important ;width:100%;height:100%;
    display: block;
}
.quotes{
    font-size: 1.1em;border-bottom: 2px dashed rgba(0,0,0,0.5);padding: 0.5em ;
    position: -webkit-sticky;position: sticky;top:-10px;background: white;left:0;margin-bottom:  0.5em;
   z-index: 5;
}
@media all and (max-width:756px){
    .side_topic{width: 100%;height: 50vh !important;}
    .design_body{width:100%;height: 100vh;}
    .item_side_contain{
        width: 90%;
    }
    .body_section{
        overflow: scroll;-ms-overflow-style: none;scrollbar-width: none;
      }
      .body_section::-webkit-scrollbar{
          display: none;
      }
  }
  








